
@{
    ViewBag.Title = "NextRound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main>
    <h2 align="center">Numer następnej kolejki: @ViewBag.round</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Data</th>
                <th>Gospodarze</th>
                <th>Goście</th>
                <th>Predykcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr><td>@row.Date.ToString("dd.MM.yyy")</td><td>@row.HomeTeam</td><td>@row.AwayTeam</td><td>@row.HomeScorePrediction : @row.AwayScorePrediction</td></tr>
            }
        </tbody>
    </table>
</main>
